<section class="about">
    <h2 class="about__title t-pretitle">About</h2>
    <p class="about__copy t-text">Some facts about my life. Coming ASAP.</p>

    <div class="about__carrer">
        <div>
            <h3>Experiences</h3>
            <ul>
                <li>
                    <p>
                        <span class="about__carrer-date">Sommer 2017 </span>
                        i-kiu 
                        <span class="about__carrer-position"> - Internship Frontend Developer</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="about__carrer-date">Februar 2018 - Juni 2018 </span>
                        This Page Amsterdam 
                        <span class="about__carrer-position"> - Internship Frontend Developer</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="about__carrer-date">August 2018 -  jetzt</span>
                        Demner, Merlicek & Bergmann 
                        <span> - Webentwickler</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>