<section class="about">
    <h2 class="about__title t-pretitle">About</h2>
    <p class="about__copy t-text">Five years ago I started my studies in Media Technology and Design in Hagenberg where I specialized myself as a Frontend Developer.</p>

    <div class="about__qualifications">
        <div>
            <h3 class="about__qualification-title">Qualifications</h3>
            <div *ngFor="let qualification of qualifications" class="about__qualification">
                <p>{{ qualification.name }}</p>
                <div>
                    <span *ngFor="let number of numbers;  let i = index" class="about__qualification-cnt" [class]="qualification.level - 1 >= i  ? 'about__qualification-cnt--fill' : ''"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="about__carrer">
        <div>
            <h3>Experiences</h3>
            <ul>
                <li>
                    <p>
                        <span class="about__carrer-date">Summer 2017 </span>
                        i-kiu 
                        <span class="about__carrer-position"> - Internship Frontend Developer</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="about__carrer-date">February 2018 - June 2018 </span>
                        This Page Amsterdam 
                        <span class="about__carrer-position"> - Internship Frontend Developer</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="about__carrer-date">August 2018 -  now</span>
                        Demner, Merlicek & Bergmann 
                        <span> - Web Developer</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>


</section>