.work {
    padding: 100px 0;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #efefef;

    &__title {        
        margin-bottom: 10px;
    }

    &__copy {
        max-width: 440px;
        line-height: 1.2;
    }

    &__projects {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    &__project {
        list-style: none;
        flex: calc(50% - 20px);
        background-color: #fefefe;
        margin: 10px;

        a {
            color: #111;
            // text-decoration: none;
        }
    }
}