.work {
    padding: 100px 0;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #f9f9f9;

    &__wrapper {
        max-width: 2500px;
    }

    &__title {        
        margin-bottom: 10px;
    }

    &__copy {
        max-width: 440px;
        line-height: 1.2;

        span {
            font-size: 0.75rem;
            font-style: italic;;
        }
    }

    &__projects {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;

        @media(min-width: 992px) {
            margin-left: -10px;
            margin-right: -10px;
        }

        &:after {
            display: block;
            content: "";
            width: calc(50% - 20px);
            height: auto;
            margin: 10px;
        }
    }

    &__project {
        list-style: none;
        flex: 100%;
        margin: 10px 0;
        background-color: #fefefe;
        display: flex;

        @media(min-width: 992px) {
            flex: calc(50% - 20px);
            margin: 10px;
        }

        a {
            color: #111;
        }
    }
}