.project {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 220px;

    &:hover {

        color: #111111;

        .project__header {
            top: 0;
            z-index: 99;
        }
    
        .project__footer {
            bottom: 0;
        }

        .project__image {
            opacity: 0;
        }

        a {
            color: #111111;
        }
    }

    &__header {
        position: relative;
        top: -100%;
        transition: top 0.5s;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__footer {
        position: relative;
        bottom: -100%;
        transition: bottom 0.5s;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
    }
    
    &__image {
        background-size: cover;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.5s;
        z-index: 9;
        background-position: center;


        &::after {
            position: relative;
            padding-top: 70%;
            content: "";
            display: block;

            @media(min-width: 768px) {
                padding-top: 50%;
            }
        }
    }
    
    &__details {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }


    &__title {
        margin-bottom: 10px;
        font-size: 1.25rem;
    }

    &__description {
        margin-bottom: 10px;
    }

    &__link {
        color: #111111;
        font-size: 0.8rem;
        margin-bottom: 20px;
        display: block;
    }

    &__technology {
        font-size: 0.9rem;
        display: inline-block;

    }
}