<div class="project">
    <div class="project__image" [style.backgroundImage]="'url(/assets/projects/' + project.coverImage + ')'"></div>

    <div class="project__details" [style.backgroundColor]="'#EAE1DC'">
        <div class="project__header">
            <h3 class="project__title">{{ project.title }}</h3>
            <p class="project__description">{{ project.description }}</p>
            <a class="project__link" *ngIf="project.link.length > 0" [href]="project.link" target="_blank">Website</a>
        </div>
            
        <div class="project__footer">
            <p class="project__technology">
                {{ getTechnologies() }}
            </p>
        </div>
    </div>
</div>