.navigation {
    padding: 15px 0;
    padding-left: calc(5vw - 20px);

    ul {
        display: flex;
        padding-left: 0;
    }
    
    li {
        list-style: none;

        a {
            padding: 10px 20px;
            color: #111;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: #953E60;
                text-decoration: underline;
            }
        }
    }
}