.app-navigation {
    position: fixed;
    top: 15px;
    left: calc(5vw - 10px);

    ul {
        display: flex;
        padding-left: 0;
    }
    
    li {
        list-style: none;

        a {
            padding: 10px 20px;
            color: #111;
        }
    }
}